/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */

* {
    box-sizing: border-box;
}

/******************************************
/* BASE
/*******************************************/

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Space Grotesk', sans-serif;
    font-family: 'Inconsolata', monospace;
    line-height: 1.3;
    letter-spacing: -0.5px;
}

img {
    display: block;
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
}

h1,
h2 {
    font-size: 3rem;
    margin-bottom: 2.4rem;
    line-height: 1.1;
}

h3 {
    font-size: 1.8rem;
    margin: 1.6rem 0;
}

h4 {
    font-size: 1.8rem;
    margin: 3.2rem 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    display: inline-block;
}



/******************************************
/* LAYOUT
/*******************************************/

/* HEADER */

.navbar * {
    color: #1e1919;
    line-height: 5rem;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2.6rem;
}

    #logo {
        height: 6rem;
    }

    #navLinks {
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: space-between;
        padding: 0 2rem;
    }

        #dropbox {
            font-weight: bold;
            font-size: 3rem;
        }

        .navMenu {
            display: none;
        }

        #rightNav {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: right;
            gap: 2.4rem;
        }

            .signIn {
                font-size: 2rem;
            }

            #hamburger {
                display: flex;
            }  

/* MAIN  */

#main {
    background-color: #1e1919;
    color: #f7f5f2;
    padding-top: 6.6rem;
    padding-bottom: 6.6rem;
}

    #thisIsDropbox {
        text-align: center;
        
    }

        #thisIsDropbox p {
            margin-bottom: 2.4rem;
        }

    #whyDropbox {
        padding: 0 1.6rem;
    }

        section.whyDropboxPoint {
            margin-bottom: 4.8rem;
        }

        section.whyDropboxPoint:last-child {
            margin-bottom: 0;
        }

/* FEATURES */

#featuresHeading {
    text-align: center;
    background-color: #f7f5f2;
}

#features {
    
}

    #features > div {
        padding: 0 2.4rem;
    }

    .feature > * {
        margin-bottom: 3.2rem;
    }


/******************************************
/* MODULE
/*******************************************/

.btn {
    background-color: #3984ff;
    color: #1e1919;;
    padding: 2.4rem;
    font-weight: bold;
}

.inner {
    padding-right: 2.8rem;
    padding-left: 2.8rem;
}

.outer {
    padding-top: 6.6rem;
    padding-bottom: 6.6rem;
}

.innerOuter {
    padding: 6.6rem 1.6rem;
}

.innerMargin {
    margin-top: 6.6rem;
}

.borderTopBtm {
    border-top: 1px solid #3e3a3a;
    border-bottom: 1px solid #3e3a3a;
}

/******************************************
/* STATE
/*******************************************/

/******************************************
/* MEDIA QUERIES
/*******************************************/